/* css reset */
body {margin: 0;padding: 0;background: #EFEFEF;}
* {margin: 0;padding: 0;}
ul,ol {margin: 0;list-style: none;}
a {color: inherit;text-decoration: none;}
img {max-width: 100%;max-height: 100%;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
/*css animation*/
@keyframes subMenuSlide { 0%{margin-right: 100%;} 100%{margin-right: 0;} }
@keyframes slideUp { 0%{transform: translateY(30px)} 0%{transform: translateY(0)} }
/* css common */
.clearfix::after {content: '';display: block;clear: both;}
section {transition: all 0.4s ease;}
/* css page */
.loadingWrap {position: fixed;left: 0;top: 0;right: 0;bottom: 0;display: none;justify-content: center;align-items: center;background: #fff;z-index: 11;}
.loadingWrap.active {display: flex}
.topNavBar {position: fixed;left: 0;top: 0;right: 0;padding: 22px 16px;transition: all 0.4s ease;z-index: 10;}
.topNavBar.active {padding: 10px 16px;background: #fff;box-shadow:0 0 20px 0 rgba(146, 146, 146, 0.82)}
.topNavBar .logo {float: left;line-height: 36px;font-size: 24px;font-family: 'Arial Black';color: #9A9DA2;}
.topNavBar .logo .rs {float: left;margin-right: 12px;color: #E8676B;}
.topNavBar .logo .card-text {float: left;}
.topNavBar nav {float: right;}
.topNavBar nav > ul > li {position: relative;margin: 0 17px;float: left;color: #C2C4C7;}
.topNavBar.active nav > ul > li {color: #3D4451;}
.topNavBar nav > ul > li a {position: relative;display: block;padding: 13px 0;font-size: 12px;font-weight: bold;}
.topNavBar nav > ul > li a:after {content: "";position: absolute;display: block;left: 0;bottom: 0;width: 0;height: 3px;background: #E8676B;transition: all 0.3s ease;}
.topNavBar nav > ul > li a.highLight:after,
.topNavBar nav > ul > li a.active:after{width: 100%;}
.subMenu {position: absolute;display: none;top: 100%;right: 0;padding: 5px 0;color: #333;background: #fff;border: solid 1px #eee;box-shadow: 0 0 6px -2px #aaa;}
.subMenu.active {margin-right: 0;display: block;animation: subMenuSlide 0.3s ease;}
.subMenu li {display: block;white-space: nowrap;padding: 2px 20px;line-height: 24px;font-size: 14px;}
[data-special].offset {transform: translateY(50px);}
[data-special]{transform: translateY(0);transition: all 0.5s;}
.banner {height: 515px;background-image: url(../img/bg_top.jpg);background-position: center center;background-size: cover;}
.banner .mask {height: 100%;background: rgba(44, 51, 64, 0.8);}
.card {margin: -344px auto 0;width: 930px;background: #fff;box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.37);transition: all 0.4s ease;}
.card .pictureAndText {padding: 58px 50px 20px 50px;}
.card .picture {float: left;}
.card .text {float: right;width: 472px;}
.card .hello {position: relative;padding: 4px 15px;line-height: 30px;font-size: 16px;color: #fff;background: #E8676B;text-transform: capitalize;}
.card .hello:before {content: "";position: absolute;left: 5px;top: 100%;display: block;border: solid 10px transparent;border-top: 0;border-left-color: #E8676B;}
.card .text h1 {margin-top: 26px;}
.card .text h2 {margin-top: 4px;font-size: 18px;color: #3D4451;font-weight: normal;}
.text hr {margin-top: 21px;margin-bottom: 19px;width: 100%;height: 0;border: none;border-top: solid 1px #DEDEDE;}
.text dl dt,
.text dl dd{float: left;font-size: 14px;line-height: 34px;}
.text dl dt {width: 26%;font-weight: bold;}
.text dl dd {width: 74%;color: #9DA0A7;}
.card footer.media {padding: 20px;background: #E6686A;text-align: center;}
.card footer.media a {display: inline-block;padding: 11px;margin: 0 15px;border-radius: 50%;transition: all 0.3s ease;}
.card footer.media a:hover {background: rgba(0, 0, 0, 0.1);}
.card footer.media svg {width: 23px;height: 23px;fill: #fff;vertical-align: top;}
.downLoad {display: block;margin: 35px auto;width: 280px;line-height: 60px;border: solid 1px #CBCDCF;text-align: center;border-radius: 3px;transition: all 0.3s ease}
.downLoad:hover {background: #EFEFEF;box-shadow: 0 5px 11px rgba(0,0,0,0.18),0 4px 15px rgba(0, 0, 0, 0.14);}
.self-introduction {width: 930px;margin: 0 auto 0;}
.self-introduction p{font-size: 18px;line-height: 1.8;font-family: cursive;text-align: center;}
section.skill {margin: 40px auto;width: 930px;}
.skill h2 {margin-bottom: 32px;font-size: 28px;letter-spacing: 0.5em;text-indent: 0.5em;text-align: center;}
.skill ol {padding: 34px 35px 20px;background: #fff;box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.37);}
.skill ol li {float: left;padding: 0 15px;margin-bottom: 30px;width: 50%;box-sizing: border-box;}
.skill h3 {font-size: 12px;line-height: 2;color: #3D4451;}
.skill .progressBar {position: relative;width: 100%;height: 5px;background: #FAE1E1;border-radius: 3px; overflow: hidden;}
.skill .progressBar .progress {position: absolute;left: 0;top: 0;width: 50%;height: 100%;background: #E8676B;border-radius: 3px;transform: translateX(0);transition: all 0.5s;}
.skill.offset .progressBar .progress{transform: translateX(-100%);}
section.portfolio {margin: 76px auto 40px;width: 930px;}
.portfolio h2{margin-bottom: 32px;font-size: 28px;letter-spacing: 0.5em;text-indent: 0.5em;text-align: center;}
.portfolio nav {text-align: center;}
.portfolio nav ol {display: inline-block;}
.portfolio nav ol li {float: left;font-size: 13px;margin: 0 24px;cursor: pointer;}
.portfolio nav .bar {position: relative;display: block;width: 233px;margin: 12px auto;background: #fff;height: 5px;border-radius: 3px;}
.portfolio .bar .bar-inner {position: absolute;width: 50px;height: 100%;left: 0;top: 0;border-radius: 3px;background: #E8676B;transition: all 0.4s ease;}
.portfolio .bar.state-1 .bar-inner {width: 56px;left: 63px;}
.portfolio .bar.state-2 .bar-inner {width: 94px;left: 139px;}
.portfolio .jobs {margin-top: 30px;}
.portfolio .jobs .item {position: relative;float: left;margin: 0 10px 20px;transform: scale(1);box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.37);transition: all 0.4s ease-in-out;overflow: hidden;}
.portfolio .jobs .item.hide {margin: 0;transform: scale(0);width: 0!important;height: 0!important;}
.portfolio .jobs .item::before {content: "";position: absolute;top: 0;left: 0;width: 100%;height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.13) 0%,rgba(0,0,0,0.63) 100%);z-index: 2;}
.portfolio .jobs .item  .picture {position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.portfolio .jobs img {width: 100%;height: 100%;}
.portfolio .jobs .item.big {width: 600px;height: 570px;}
.portfolio .jobs .item.small {width: 290px;height: 275px;}
.portfolio .jobs .content {position: absolute;left: 0;right: 0;padding: 0 30px;top: 100%;margin-top: -105px;z-index: 5;transition: all 0.3s ease;}
.portfolio .jobs .item:hover .content {margin-top: -165px;}
.portfolio .jobs .content h3 {margin-top: 5px;font-size: 19px;line-height: 40px;color: #ffffff;}
.portfolio .jobs .content h4 {margin-top: 9px;line-height: 20px;color: rgba(255,255,255,.5);font-size: 12px;}
.portfolio .jobs .content .operate {margin-top: 20px;}
.portfolio .jobs .content .operate li {float: left;margin-right: 21px;}
.portfolio .jobs .content .operate a {display: block;padding: 12px;text-align: center;border: solid 1px rgba(255,255,255,.5);border-radius: 3px;margin-top: 100px;}
.portfolio .jobs .item:hover .content .operate a {margin-top: 0;transition: all 0.4s ease;}
.portfolio .jobs .item:hover .content .operate li:nth-child(2) a {transition-delay: 0.1s;}
.portfolio .jobs .item:hover .content .operate li:nth-child(3) a {transition-delay: 0.2s;}
.portfolio .jobs .content .operate a:hover {background: rgba(255,255,255,0.1);}
.portfolio .jobs .content .operate svg {display: inline-block;width: 24px;height: 22px;fill: #E8676B;}